/* Collapsible animation */
[id^="reka-collapsible-content"][data-state="open"] {
  animation: collapsible-open 200ms ease-out;
}

[id^="reka-collapsible-content"][data-state="closed"] {
  animation: collapsible-closed 200ms ease-out;
}

@keyframes collapsible-open {
  from {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
  to {
    height: var(--reka-collapsible-content-height);
    opacity: 1;
    overflow: hidden;
  }
}

@keyframes collapsible-closed {
  from {
    height: var(--reka-collapsible-content-height);
    opacity: 1;
    overflow: hidden;
  }
  to {
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
